body {
  font-family: sans-serif;
}

.menu {
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
}

.menu img {
  vertical-align: middle;
}

.menu a {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.5rem;
  text-decoration: none;
}

.menu a:hover {
  background-color: rgba(0,0,0,0.5);
}

.container {
  width: 80%;
  margin: auto;
}
